# ROS 2 build and install
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Drawio backups
*.drawio~
